<!-- <div class="wrapper">
    <div id="tree-container wrapper">hfhdhdhdhde</div>
</div> -->




<div class="row wrapper">
    <div class="background"></div>

        education 

  
        <div class="column-one">

            <div class="name">
                <h2>Master of Science in Computer Science</h2>

                <h1><p class="p-first">University of Texas at Arlington 2021-2023</p></h1>
                <p class="p-second">Specialization: Software Engineering, Database Management</p>
                <p class="p-third">GPA: 3.6/4</p>


            </div>
        </div>
        <div class="column-two">
          <div class="name">
            <h2>Bachelor of Engineering in Information Technology</h2>

            <h1><p class="p-first">Fr. Conceicao Rodrigues College of Engineering 2014-2018</p></h1>
            <p class="p-second">Specialization: Object Oriented Programming</p>
            <p class="p-third">CGPA: 7.02/10</p>


        </div>
        </div>
    <!-- <div class container></div> -->
    <div id="edu-container"></div>
  

  
  </div>