<!-- <div class="wrapper">
    <div id="tree-container wrapper">hfhdhdhdhde</div>
</div> -->




<div class="row wrapper">
    <div class="background"></div>

        education 

  
        <div class="column-one">
            <h3 class="proj-head"><u>professional</u></h3>
            <br>
            <div class="name">
                <h2>Software Developer </h2>
    
                <h1><p class="p-first">Larsen & Toubro Infotech    2018-2020</p></h1>
                <p class="p-second">JAVA , Angular</p>
                <!-- <p class="p-third">CGPA: 7.02/10</p> -->
    
    
            </div>
        
        
        </div>


        <div class="column-two">
            <h3 class="proj-head"><u>academic</u></h3>
            <br>
            <div class="name">
                <h3>Automobile Insurance Web application</h3>
                <h4><p class="p-first">HTML & CSS, JAVA, SQL</p></h4>
                <p class="p-second">Programmed a web app has an interface to select type of insurance and then displays an insurance estimate based on selections made.</p>
                <br>
            </div>
            <div class="name">
                <h3>Virtual organization Management System</h3>
                <h4><p class="p-first">JAVA, HTML5, ORACLE Database, MySQL, NLP4J Library</p></h4>
                <p class="p-second">Programmed a web app has an interface to select type of insurance and then displays an insurance estimate based on selections made.</p>
                <br>
            </div>
            <div class="name">
                <h3>Automobile Insurance Web application</h3>
                <h4><p class="p-first">HTML & CSS, JAVA, SQL</p></h4>
                <p class="p-second">Programmed a web app has an interface to select type of insurance and then displays an insurance estimate based on selections made.</p>
                <br>
            </div>
 
        </div>
    <!-- <div class container></div> -->
    <div id="edu-container"></div>
  

  
  </div>