<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name">
            hi! my
            name is</p>
        <div class="name">
            <p class="p-name">Aunik DSouza<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            Here I am, the peanut butter you have longed for.
            <p class="p-first">I am a developer/programmer from india and have been writing code and problem solving since 2013.</p>
            <p class="p-second">I've previousy worked at <a
                    href="https://www.ltimindtree.com/">L&T Infotech</a>. you can
                find my <a href="/docs/assets/Aunik_Resume.pdf">resume</a> here.</p>

        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>